<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstap/5.2.3/js/bootstrap.min.js}"></script>
    <title>Create Incident</title>
</head>
<body>
<main class="container">
    <div class="row">
        <div class="col-10 offset-1 p-3 rounded bg-dark text-white">
            <h1>Create Hero</h1>
            <hr>
            <form th:action="@{/heroes/create}" th:object="${hero}" method="post">
                <div class="mb-3">
                    <label for="nickname" class="form-label">Nickname :</label>
                    <input type="text" th:field="*{nickname}" class="form-control" id="nickname" required>
                    <span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location :</label>
                    <input type="text" th:field="*{location}" class="form-control" id="location" required>
                    <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span>
                </div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude :</label>
                    <input type="text" th:field="*{latitude}" class="form-control" id="latitude" required>
                    <span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"></span>
                </div>
                <div class="mb-3">
                    <label for="longitude" class="form-label">Longitude :</label>
                    <input type="text" th:field="*{longitude}" class="form-control" id="longitude" required>
                    <span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"></span>
                </div>
                <div class="mb-3">
                    <label for="cellphone" class="form-label">Cellphone :</label>
                    <input type="text" th:field="*{cellphone}" class="form-control" id="cellphone" required>
                    <span th:if="${#fields.hasErrors('cellphone')}" th:errors="*{cellphone}"></span>
                </div>
                <div class="text-end">
                    <button class="btn btn-success">Add Hero</button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>