<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstap/5.2.3/js/bootstrap.min.js}"></script>
    <title>Edit Incident</title>
</head>
<body>
<main class="container">
    <div class="row">
        <div class="col-10 offset-1 p-3 rounded bg-dark text-white">
            <h1>Edit Incident</h1>
            <hr>
            <form th:action="@{/incidents/edit/{id}(id=${incident.id})}" th:object="${incident}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Incident :</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name" required>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
                <div class="text-end">
                    <button class="btn btn-success">Edit Contact</button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>