<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" th:src="@{../static/index.js}"></script>
    <script th:src="@{/webjars/bootstap/5.2.3/js/bootstrap.min.js}"></script>
    <title>Heroes List</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Hero Service</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    <a class="nav-link active" th:href="@{/incidents}">Incidents</a>
                    <a class="nav-link active" th:href="@{/heroes}">Heroes</a>
                </div>
            </div>
        </div>
    </nav>

    <main class="container">
        <div class="row col-10 offset-1 p-3">
            <h1>Need a hero ?</h1>
            <hr>
            <div class="rounded bg-dark text-white mb-3">
                <form method="post" action="/addIncident" class="mb-3 mt-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Incidents</span>
                        <select class="form-select" name="type">
                            <option th:each="incident : ${existingIncidents}" th:value="${incident.city}" th:text="${incident.name}"></option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Latitude / Longitude / City</span>
                        <input type="text" class="form-control" name="latitude" placeholder="Latitude">
                        <input type="text" class="form-control" name="longitude" placeholder="Longitude">
                        <input type="text" class="form-control" name="city" placeholder="City">
                    </div>
                    <div class="text-end">
                        <button class="btn btn-success">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <div id="map" style="height: 100%;"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe2kCiOVigTKRsTOeQmqH-QYMQGTIsRJs&callback=initMap&v=weekly"
        defer>
    </script>
</body>
</html>