<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstap/5.2.3/js/bootstrap.min.js}"></script>
    <title>Incident List</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Hero Service</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                <a class="nav-link active" th:href="@{/incidents}">Incidents</a>
                <a class="nav-link active" th:href="@{/heroes}">Heroes</a>
            </div>
        </div>
    </div>
</nav>
<main class="container">
    <div class="row">
        <div class="col-10 offset-1 p-3 rounded bg-dark text-white">
            <h1>Incident List</h1>
            <hr>
            <table class="table table-dark text-center">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Incident</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="incident : ${incidents}">
                    <td th:text="${incident.id}"></td>
                    <td th:text="${incident.name}"></td>
                    <td>
                        <a th:href="@{/incidents/edit/{id}(id=${incident.id})}" class="btn btn-warning">Edit</a>
                        <a th:href="@{/incidents/delete/{id}(id=${incident.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-end">
                <a th:href="@{/incidents/create}" class="btn btn-success">Add</a>
            </div>
        </div>
    </div>

</main>
</body>
</html>